*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    display: flex;
    background-color: rgba(0,0,0, 0.3);
    align-items: center;
    padding: 10px 20px 10px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}
.logo{
    width: 10rem;

}
.nav-links{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
    margin-right: 40px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
/* header of home page */
.home-header{
    height: 100vh;
    background: url(./images/app-link-background.svg)
    no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.home-header img{
    width: 8rem;
}
.home-header h1{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.home-header p{
    color: white;
}
.home-header a{
    background-color: #ff5672;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.playstore-img{
    width: 4rem;
}

/* header of home page ends */

/* Home-Features */
.features-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.features-inner div{
    text-align: center;
}
.features h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}
.home-header2{
    height: 100vh;
    background: url(./images/banner-1.webp)
    no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.home-header2 h1{
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
.home-header3{
    height: 100vh;
    background: url(./images/banner-2.webp)
    no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.home-header3 h1{
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
.home-header3 a{
    text-size-adjust: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}
.footer{
    padding: 50px 0px 0px;
}
.footer h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-details{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px 50px;
    font-size: 20px;
    color: #424242;
}

.footer-item{
    margin: 20px;
    padding: 20px;
}
.footer-item div{
    margin: 20px;
    padding: 20px;
}
.footer-item ul{
    padding: 10px;
    margin: 10px;
}
.c{
    color: #ff5672;
    gap: 10px;
}
input{
    font-size: 20px;
    padding: 30px;
    border-radius: 50px;
}
.footer-item img{
    margin: 5px;
    padding: 5px;
}


footer{
    background-color: #ff5672;
    text-align: center;
    font-size: 15px;
    padding: 13px;
}